<div class="card mb-4">
    <div class="card-header">
        <a href="{% url 'questionView' question_id=question.id %}" style="color: inherit; text-decoration: none;">{{ question.title }}</a>
        <small class="float-right">Дата публикации: 18.10.2023</small>
    </div>
    <div class="card-body">
        <p class="card-text">{{ question.content }}</p>
        <p class="card-text"><small class="text-muted">Автор: UserName</small></p>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
        <button class="btn btn-outline-primary">
            <i class="far fa-thumbs-up"></i> Лайк
        </button>
        <span>Ответов: 12</span>
        <button class="btn btn-primary">Ответить</button>
    </div>
</div>
